.todo {
  background-color: #fff;
  color: grey;
  padding: 1.75rem;
  &-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: .2rem;
    display: flex;
  }
}