body {
  background-color: #ccc;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
}
.app {
  width: 800px;
  margin: 140px auto;
  padding: 1.75rem;
  color: #fff;
}
.active-checkbox {
  
}